site_name: ZLAB

plugins:
  - blog:
      archive: false
      post_url_date_format: yyyy/MM/dd
      blog_dir: posts
      categories: true
  - redirects:
      redirect_maps:
        'posts/index.md': 'index.md'
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago

theme:
  features:
    - content.tooltips
    - toc.follow
    - navigation.tabs
  font: false  # Disable default fonts to use custom fonts
  name: material
  logo: https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTZycnNiempneTl5MHE1bzVscTNuYm44eGdkZHV5ZzU0YmxldXgyNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OmYIN0MhfeJhhPjEK7/giphy.gif
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: teal
      scheme: defaultmkd
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: light green
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

# Header

# Footer
extra:
  generator: false
  analytics:
    provider: google
    property: G-X956BD08NG

copyright: Copyright &copy; 2024 zLab

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - pymdownx.snippets
  - pymdownx.details
  - footnotes
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
