name: cicd
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'pyproject.toml'
      - 'poetry.lock'
permissions:
  contents: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13.1'
      - uses: actions/cache@v4
        with:
          path: |
            .cache
            ~/.cache/pip
          key: ${{ runner.os }}-mkdocs-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-mkdocs-
      - run: pip install mkdocs-material mkdocs-git-revision-date-localized-plugin mkdocs-redirects
      - run: mkdocs gh-deploy --force
